body{
  background: white;
  margin: 0;
  padding: 0;
  color: #3B4453;
}
html{
  margin: 0;
  padding: 0;
}
.container{
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
.header{
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
.header__auth{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  font-weight: 600;
}
.header__item{
  transition: 0.3s;
  text-decoration: none;
  color: #3B4453;
}
.header__item:not(:last-child){
  margin-right: 15px;
}
.header__item:hover{
color: #407aec;
}
.header__title{
  font-weight: 800;
  font-size: 2rem;
}


.container2{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}


